
<div class="card border-dark mb-3 hover" (click)="onSelected(post.id)">
  <div class="card-header"><b>Author:</b> {{post.author}}</div>
  <div class="card-body text-dark d-flex">
    <img [src]="post.thumbnail" class="p-2">
    <p class="card-text p-2">{{post.title}}</p>
    <div class="actions">
      <fa [name]="'check'" [ngClass]="{'active': post.read}"></fa>
      <fa [name]="'save'" (click)="onEvent('save', post.id, $event)"></fa>
      <fa [name]="'trash'" (click)="onEvent('trash', post.id, $event)"></fa>
    </div>
  </div>
</div>